.dossier {
    .photo {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        img {
            margin-right: 30px;
            display: block;
            align-self: flex-start;
        }

        ul {
            list-style-type: none;
            font-family: "Roboto Mono", monospace;

            li {
                color: green;
                font-size: 20px;
                margin-bottom: 20px;

                @media screen and (max-width: 700px) {
                    font-size: 16px;
                }
            }
        }
    }
}
