/* 
  font-family: 'Montserrat', sans-serif; // regular 400 italic and bold
  font-family: 'MuseoModerno', cursive; // Extra-light 200
  font-family: 'Roboto Mono', monospace; // regular 400
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background-color: black;
}

h1,
h2,
h3,
h4 {
  color: #fff;
  font-family: "MuseoModerno", cursive;
  font-weight: 200;
}

h1 {
}

h3 {
}

p {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
}

.App {
  width: 100%;

  &:before {
    content: "";
    position: absolute;
    width: 2000vw;
    height: 2000vh;
    height: 100%;
    background-image: radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 5px),
      radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 0px),
      radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 4px),
      radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 0px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    animation: starWalk 12s linear 0s infinite;
    z-index: -1;
  }
}

.intro {
  padding: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .goBack {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-bottom: 30px;

    .fa {
      font-size: 44px;
      color: green;
    }
  }
}

.interior {
  max-width: 1440px;
  margin: auto;
}

@keyframes starWalk {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100vw);
  }
}
