.skills {
    width: 100%;

    .skill {
        margin: 30px 0;

        img {
            width: 50px;
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 30px;

            li {
                margin-right: 15px;
                font-size: 16px;
                font-family: "Roboto Mono", monospace;
            }
        }
    }
}
