.skills {

    p {
        max-width:700px;
    }

    .skill {
        display:flex;
        justify-content: space-between;

        img {
            width:50px;
        }

        p {
            
        }

    }


}